@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background-color: #eeddee;
    font-family: "Montserrat";
    font-weight: 300;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scroling: touch;
}



/*главная страница*/


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather";
    font-weight: 300;
    text-align: center;
}

p {
    line-height: 28px;
    margin-bottom: 20px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
}

.navbar {
    border-radius: 0px;
    height: 50px;
    
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #ff7878;
}
.navbar-brand{
    padding-top: 15px;   
}
.nav>li:hover{
    background-color: #eae7e7;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #2d2d2d;
    
}



.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 30px;
}

#headerwrapper {
    background: url('C:\\Users\\petrs\\Desktop\\Kursovoi_proect\\www\\4.png') no-repeat center top;
    text-align: center;
    position: relative;    
    height: 100%;
    background-attachment: scroll;
    margin-top: -20px;
    padding-top: 30px;
    background-position: center center;
    width: 100%;
    background-size: 100%;
}
.for_size{
    min-height: 600px !important;
}

#bodywrapper {
    background: url('C:\\Users\\petrs\\Desktop\\Kursovoi_proect\\www\\3.jpg') no-repeat center;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    background-size: 100%;
}

#headerwrapper h1 {
    color: #eae7e7;
    margin-top: 100px;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headerwrapper h2 {
    color: #eae7e7;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#bodywrapper h1 {
    color: #eae7e7;
    margin-top: 100px;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#bodywrapper h2 {
    color: #eae7e7;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase
}

.marrgin {
    margin-top: 40px;
}

#footer {
    background: rgb(43, 67, 234);
    padding-top: 70px;
    padding-bottom: 70px;
    color: #eae7e7;
}

#icons {
    background: #2d2d2d;
    padding-top: 20px;
    padding-bottom: 30px;
}

#icons i {
    color: #bdbdbd;
    padding: 20 px;
}


#icons i:hover {
    collor: #ff7878;
}

#third_img{
    background:  url('C:\\Users\\petrs.PETR\\Desktop\\Kursovoi_proect\\www\\imgs\\book_img.jpg') no-repeat center;


}
#third_img>h2{
    padding-top:0px;
}
.content>ul>li{
    padding-top:15px;
    padding-bottom: 15px;
}
.content{
    padding-top:10px;
    padding-bottom: 10px;   
}

.about-fixed {
    position: fixed;
    width: 20.8%;
}



.my-pic {
    width: 100%;
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.my-pic img {
    width: 100%;
}

.my-detail {
    text-align: center;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: -2px -1px 88px 0px rgba(0, 0, 0, 0.17);
}

.my-detail .white-spacing {
    padding: 23px 0;
    border-bottom: 1px dashed #cccccc;
}

.my-detail h1 {
    font-size: 20px;
    font-weight: 700;
}

.my-detail span {
    color: #c1c1c1;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}
#icons{
    padding-top: 3px;
    padding-bottom: 3px;
    height: 40px;
}
.right{
    text-align: right;
}
.left{
    text-align:left;
}




