@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkid-overflow-scroling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather";
    font-weight: 300;
}

p {
    line-height: 28px;
    margin-bottom: 20px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
}

.navbar-inverse {
    background: #2d2d2d;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: #ff7878;
}

.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 26;
}

#headerwrap {
    background: url("C:\Users\petrs\Desktop\Kursovoi_proect\bigstock-Businessman-Working-With-A-Clo-45580360-c-r.jpg")no-repet center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}